$black: rgb(4, 5, 15);
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  span {
    font-size: 2rem;
  }
  button {
    background-color: $black;
    color: white;
    border: 1px solid $black;
    outline: none;
    padding: 0.5rem 1rem;
    transition: 200ms ease-out;
    transition-property: color, background-color;
    cursor: pointer;
    &:hover {
      background-color: #fff;
      color: $black;
    }
  }
}
