.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 20%;
    border-radius: 50%;
  }
  h1 {
    padding: 2rem 1rem 1rem 1rem;
  }
  h1,
  h3 {
    color: rgb(54, 54, 54);
  }
}
